:root {
  --fz: 1.0625rem;
  --lh: 1.75rem;
  --color-gray: #78716c;
  --color-border: #e7e5e4;
  --color-brand: #fb7185;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--fz);
  line-height: var(--lh);
  font-family: serif;
  max-width: calc(700px + var(--lh) * 2);
  padding-inline: var(--lh);
  margin-inline: auto;
}

.header,
.footer {
  margin-block: calc(var(--lh) * 4);
}

.footer {
  padding-block-start: calc(var(--lh) * 2);
  box-shadow: 0 -1px 0 0 var(--color-border);
}

.logo {
  display: flex;
  gap: calc(var(--lh) / 2);
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.logo__image {
  width: calc(var(--lh) * 3);
  height: calc(var(--lh) * 3);
  border-radius: 50%;
}

.logo__title {
  font-weight: 700;
}

.logo__tagline {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-brand);
}
