:root {
  --fz: 1.0625rem;
  --lh: 1.75rem;
  --color-gray: #78716c;
  --color-border: #e7e5e4;
  --color-brand: #fb7185;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--fz);
  line-height: var(--lh);
  font-family: serif;
  max-width: calc(700px + var(--lh) * 2);
  padding-inline: var(--lh);
  margin-inline: auto;
}

.header,
.footer {
  margin-block: calc(var(--lh) * 4);
}

.footer {
  font-size: 0.875rem;
  padding-block-start: calc(var(--lh) * 2);
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  left: calc(var(--lh) * -1);
  top: 0;
  width: calc(100% + 2 * var(--lh));
  height: 1px;
  background: red;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 50%,
    transparent 0,
    transparent
  );
  background-size: 5px 1px;
  mask-composite: exclude;
  -webkit-mask: linear-gradient(to left, #fff 10%, transparent),
    linear-gradient(black, black);
}

.logo {
  display: flex;
  gap: calc(var(--lh) / 2);
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.logo__image {
  width: calc(var(--lh) * 3);
  height: calc(var(--lh) * 3);
  border-radius: 50%;
}

.logo__title {
  font-weight: 700;
}

.logo__tagline {
  font-size: 0.875rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-brand);
}

h1 {
  font-size: calc(var(--fz) * 2);
  line-height: calc(var(--lh) * 1.5);
  font-weight: 700;
}
