:root {
  --fz: 1rem;
  --lh: 1.625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--fz);
  line-height: var(--lh);
  font-family: serif;
  max-width: 700px;
  margin-inline: auto;
}

.header,
.footer {
  margin-block: calc(var(--lh) * 2);
}

img {
  max-width: 100%;
  height: auto;
}
