.title {
  font-weight: 700;
  margin-block-end: calc(var(--lh) * 2);
  padding-block-end: calc(var(--lh) * 2);
  box-shadow: 0 1px 0 0 var(--color-border);
}

.list {
  list-style: none;
}

.item {
  margin-block-end: calc(var(--lh) * 2);
}

.meta {
  color: var(--color-gray);
  line-height: calc(var(--lh) * 1.5);
  font-size: 0.875rem;
}

.metaLink {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.metaLink:hover {
  color: var(--color-brand);
}

.postLink {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.postLink:hover {
  color: var(--color-brand);
}

.postTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-end: var(--lh);
}
